$base : #F7F6F0;
$darken : darken(#F7F6F0 , 30%);
$back: darken(#F7F6F0, 40%);

/*$grey-1: #f8f8fa;
$grey-2: #e5e6eb;
$grey-3: #d2d4dc;
$grey-4: #c0c2ce;
$grey-5: #afafaf;
$green: #6cc49b;
$red: #e98356;*/

$grey-1: #ebebf1;
$grey-2: #b5b7c6;
$grey-3: #7e849b;
$grey-4: #4a5073;
$grey-5: #1a1a1a;
$green: #6cc49b;
$red: #e98356;
